@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 18px;
	background-size: contain;
	background-position: center center;
	min-block-size: 200vh;
}

* {
	box-sizing: border-box;
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}

pre {
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.contentBackground {
	background-image: url('/images/marco-hoja.jpg');
	background-size: cover;
}

/* Pantallas medianas y grandes: no repetir la imagen */
@media (min-width: 768px) {
	.contentBackground {
		background-position: center center no-repeat;
	}
}

/* Pantallas pequeñas: repite la imagen */
@media (max-width: 767px) {
	.contentBackground {
		background-position: center center;
	}
}